<?xml version="1.0" encoding="utf-8"?>

<LanguageData>
  <BetterSliders.DisplayStyle.Label>入力フィールドの表示の仕方</BetterSliders.DisplayStyle.Label>

  <BetterSliders.DisplayStyles.Hover>ホバー時</BetterSliders.DisplayStyles.Hover>
  <BetterSliders.DisplayStyles.AlwaysOn>常にオン</BetterSliders.DisplayStyles.AlwaysOn>

  <BetterSliders.HysteresisBegin.Label>マウスアウト時にフェードアウトが始まる位置をクリックで調整</BetterSliders.HysteresisBegin.Label>
  <BetterSliders.HysteresisEnd.Label>マウスアウト時にフェードアウトが終わる位置をクリックで調整</BetterSliders.HysteresisEnd.Label>
  <BetterSliders.HysteresisView.Label>マウスアウト時にフェードアウトする位置をクリックで表示</BetterSliders.HysteresisView.Label>
  <BetterSliders.Hysteresis.Calculate>設定する</BetterSliders.Hysteresis.Calculate>
  <BetterSliders.Hysteresis.View>表示する</BetterSliders.Hysteresis.View>
  <BetterSliders.Hysteresis.Hide>非表示にする</BetterSliders.Hysteresis.Hide>

  <BetterSliders.HysteresisLegend.Label>見本</BetterSliders.HysteresisLegend.Label>
  <BetterSliders.HysteresisLegend.Begin>開始位置</BetterSliders.HysteresisLegend.Begin>
  <BetterSliders.HysteresisLegend.End>終了位置</BetterSliders.HysteresisLegend.End>

</LanguageData>
