<?xml version="1.0" encoding="utf-8"?>

<LanguageData>
    <BetterSliders.DisplayStyle.Label>Input field display style</BetterSliders.DisplayStyle.Label>

    <BetterSliders.DisplayStyles.Hover>Hover</BetterSliders.DisplayStyles.Hover>
    <BetterSliders.DisplayStyles.AlwaysOn>Always on</BetterSliders.DisplayStyles.AlwaysOn>

    <BetterSliders.HysteresisBegin.Label>Click to adjust the start threshold for the hysteresis system</BetterSliders.HysteresisBegin.Label>
    <BetterSliders.HysteresisEnd.Label>Click to adjust the end threshold for the hysteresis system</BetterSliders.HysteresisEnd.Label>
    <BetterSliders.HysteresisView.Label>Click to view the thresholds for the hysteresis system</BetterSliders.HysteresisView.Label>
    <BetterSliders.Hysteresis.Calculate>Calculate</BetterSliders.Hysteresis.Calculate>
    <BetterSliders.Hysteresis.View>View</BetterSliders.Hysteresis.View>
    <BetterSliders.Hysteresis.Hide>Hide</BetterSliders.Hysteresis.Hide>

    <BetterSliders.HysteresisLegend.Label>Legend</BetterSliders.HysteresisLegend.Label>
    <BetterSliders.HysteresisLegend.Begin>Begin Threshold</BetterSliders.HysteresisLegend.Begin>
    <BetterSliders.HysteresisLegend.End>End Threshold</BetterSliders.HysteresisLegend.End>
</LanguageData>
