<?xml version="1.0" encoding="utf-8"?>

<LanguageData>
    <BetterSliders.DisplayStyle.Label>Input field display style</BetterSliders.DisplayStyle.Label>

    <BetterSliders.DisplayStyles.Hover>Hover</BetterSliders.DisplayStyles.Hover>
    <BetterSliders.DisplayStyles.AlwaysOn>Always on</BetterSliders.DisplayStyles.AlwaysOn>

    <BetterSliders.HeuristicsBegin.Label>Click to adjust the start threshold for the heuristics system</BetterSliders.HeuristicsBegin.Label>
    <BetterSliders.HeuristicsEnd.Label>Click to adjust the end threshold for the heuristics system</BetterSliders.HeuristicsEnd.Label>
    <BetterSliders.HeuristicsView.Label>Click to view the thresholds for the heuristic system</BetterSliders.HeuristicsView.Label>
    <BetterSliders.Heuristics.Calculate>Calculate</BetterSliders.Heuristics.Calculate>
    <BetterSliders.Heuristics.View>View</BetterSliders.Heuristics.View>
    <BetterSliders.Heuristics.Hide>Hide</BetterSliders.Heuristics.Hide>

    <BetterSliders.HeuristicsLegend.Label>Legend</BetterSliders.HeuristicsLegend.Label>
    <BetterSliders.HeuristicsLegend.Begin>Begin Threshold</BetterSliders.HeuristicsLegend.Begin>
    <BetterSliders.HeuristicsLegend.End>End Threshold</BetterSliders.HeuristicsLegend.End>
</LanguageData>
